# flyctl launch added from Backend\.gitignore
Backend\.phpunit.cache
Backend\node_modules
Backend\public\build
Backend\public\hot
Backend\public\storage
Backend\storage\*.key
Backend\storage\pail
Backend\vendor
Backend\**\.env
Backend\**\.env.backup
Backend\**\.env.production
Backend\**\.phpactor.json
Backend\**\.phpunit.result.cache
Backend\**\Homestead.json
Backend\**\Homestead.yaml
Backend\**\auth.json
Backend\**\npm-debug.log
Backend\**\yarn-error.log
Backend\.fleet
Backend\.idea
Backend\.nova
Backend\.vscode
Backend\.zed

# flyctl launch added from Backend\bootstrap\cache\.gitignore
Backend\bootstrap\cache\**\*
!Backend\bootstrap\cache\**\.gitignore

# flyctl launch added from Backend\database\.gitignore
Backend\database\**\*.sqlite*

# flyctl launch added from Backend\node_modules\tailwindcss\stubs\.gitignore
!Backend\node_modules\tailwindcss\stubs\**\*

# flyctl launch added from Backend\storage\app\.gitignore
Backend\storage\app\**\*
!Backend\storage\app\**\private
!Backend\storage\app\**\public
!Backend\storage\app\**\.gitignore

# flyctl launch added from Backend\storage\app\private\.gitignore
Backend\storage\app\private\**\*
!Backend\storage\app\private\**\.gitignore

# flyctl launch added from Backend\storage\app\public\.gitignore
Backend\storage\app\public\**\*
!Backend\storage\app\public\**\.gitignore

# flyctl launch added from Backend\storage\framework\.gitignore
Backend\storage\framework\**\compiled.php
Backend\storage\framework\**\config.php
Backend\storage\framework\**\down
Backend\storage\framework\**\events.scanned.php
Backend\storage\framework\**\maintenance.php
Backend\storage\framework\**\routes.php
Backend\storage\framework\**\routes.scanned.php
Backend\storage\framework\**\schedule-*
Backend\storage\framework\**\services.json

# flyctl launch added from Backend\storage\framework\cache\.gitignore
Backend\storage\framework\cache\**\*
!Backend\storage\framework\cache\**\data
!Backend\storage\framework\cache\**\.gitignore

# flyctl launch added from Backend\storage\framework\cache\data\.gitignore
Backend\storage\framework\cache\data\**\*
!Backend\storage\framework\cache\data\**\.gitignore

# flyctl launch added from Backend\storage\framework\sessions\.gitignore
Backend\storage\framework\sessions\**\*
!Backend\storage\framework\sessions\**\.gitignore

# flyctl launch added from Backend\storage\framework\testing\.gitignore
Backend\storage\framework\testing\**\*
!Backend\storage\framework\testing\**\.gitignore

# flyctl launch added from Backend\storage\framework\views\.gitignore
Backend\storage\framework\views\**\*
!Backend\storage\framework\views\**\.gitignore

# flyctl launch added from Backend\storage\logs\.gitignore
Backend\storage\logs\**\*
!Backend\storage\logs\**\.gitignore

# flyctl launch added from Backend\vendor\hamcrest\hamcrest-php\.gitignore
Backend\vendor\hamcrest\hamcrest-php\**\composer.lock
Backend\vendor\hamcrest\hamcrest-php\**\vendor

# flyctl launch added from Backend\vendor\mockery\mockery\docs\.gitignore
Backend\vendor\mockery\mockery\docs\**\_build

# flyctl launch added from Backend\vendor\psr\container\.gitignore
Backend\vendor\psr\container\**\composer.lock
Backend\vendor\psr\container\**\composer.phar
Backend\vendor\psr\container\vendor

# flyctl launch added from Backend\vendor\psr\event-dispatcher\.gitignore
Backend\vendor\psr\event-dispatcher\vendor
Backend\vendor\psr\event-dispatcher\**\composer.lock

# flyctl launch added from FrondEnd\.gitignore
# Logs
FrondEnd\**\logs
FrondEnd\**\*.log
FrondEnd\**\npm-debug.log*
FrondEnd\**\yarn-debug.log*
FrondEnd\**\yarn-error.log*
FrondEnd\**\pnpm-debug.log*
FrondEnd\**\lerna-debug.log*

FrondEnd\**\node_modules
FrondEnd\**\dist
FrondEnd\**\dist-ssr
FrondEnd\**\*.local

# Editor directories and files
FrondEnd\**\.vscode\*
!FrondEnd\**\.vscode\extensions.json
FrondEnd\**\.idea
FrondEnd\**\.DS_Store
FrondEnd\**\*.suo
FrondEnd\**\*.ntvs*
FrondEnd\**\*.njsproj
FrondEnd\**\*.sln
FrondEnd\**\*.sw?

# flyctl launch added from FrondEnd\node_modules\tailwindcss\stubs\.gitignore
!FrondEnd\node_modules\tailwindcss\stubs\**\*
fly.toml
